[Desktop Entry]
Type=Application
Name=Melon
Name[ca]=Melon
Name[ca@valencia]=Melon
Name[cs]=Melon
Name[en_GB]=Melon
Name[es]=Melon
Name[eu]=Melon
Name[fi]=Melon
Name[fr]=Melon
Name[gl]=Melon
Name[he]=מלון
Name[ia]=Melon
Name[it]=Melon
Name[ka]=Melon
Name[ko]=Melon
Name[nl]=Melon
Name[sa]=खरबूजा
Name[sk]=Melon
Name[sl]=Melon
Name[sv]=Melon
Name[tr]=Melon
Name[uk]=Melon
Name[x-test]=xxMelonxx
Name[zh_TW]=Melon
Exec=org.kde.Melon
Comment=File manager
Comment[ca]=Gestor de fitxers
Comment[ca@valencia]=Gestor de fitxers
Comment[cs]=Správce souborů
Comment[en_GB]=File manager
Comment[es]=Gestor de archivos
Comment[eu]=Fitxategi-kudeatzailea
Comment[fi]=Tiedostonhallinta
Comment[fr]=Gestionnaire de fichiers
Comment[gl]=Xestor de ficheiros.
Comment[he]=מנהל קבצים
Comment[ia]=Gerente de File
Comment[it]=Gestore dei file
Comment[ka]=ფაილების მმართველი
Comment[ko]=파일 관리자
Comment[nl]=Bestandsbeheerder
Comment[sa]=सञ्चिकाप्रबन्धकः
Comment[sk]=Správca súborov
Comment[sl]=Upravljalnik datotek
Comment[sv]=Filhanterare
Comment[tr]=Dosya yöneticisi
Comment[uk]=Програма для керування файлами
Comment[x-test]=xxFile managerxx
Comment[zh_TW]=檔案管理員
Categories=Qt;KDE;System;FileTools;FileManager;
GenericName=File Manager
GenericName[ca]=Gestor de fitxers
GenericName[ca@valencia]=Gestor de fitxers
GenericName[cs]=Správce souborů
GenericName[en_GB]=File Manager
GenericName[es]=Gestor de archivos
GenericName[eu]=Fitxategi-kudeatzailea
GenericName[fi]=Tiedostonhallinta
GenericName[fr]=Gestionnaire de fichiers
GenericName[gl]=Xestor de ficheiros
GenericName[he]=מנהל קבצים
GenericName[ia]=Gerente de File
GenericName[it]=Gestore dei file
GenericName[ka]=ფაილების მმართველი
GenericName[ko]=파일 관리자
GenericName[nl]=Bestandsbeheerder
GenericName[sa]=सञ्चिकाप्रबन्धकः
GenericName[sk]=Správca súborov
GenericName[sl]=Upravljalnik datotek
GenericName[sv]=Filhanterare
GenericName[tr]=Dosya Yöneticisi
GenericName[uk]=Менеджер файлів
GenericName[x-test]=xxFile Managerxx
GenericName[zh_TW]=檔案管理員
Icon=org.kde.Melon
Terminal=false
MimeType=inode/directory;
InitialPreference=20
Keywords=files;file management;file browsing;explorer;dolphin;finder;manager
Keywords[ca]=fitxers;gestió de fitxers;explorador de fitxers;explorador;dolphin;cercador;gestor
Keywords[ca@valencia]=fitxers;gestió de fitxers;explorador de fitxers;explorador;dolphin;buscador;gestor
Keywords[cs]=soubory;správa souborů;prohlížení souborů;explorer;dolphin;finder;správce
Keywords[en_GB]=files;file management;file browsing;explorer;dolphin;finder;manager
Keywords[es]=archivos;gestión de archivos;explorador de archivos;navegador de archivos;explorador;dolphin;buscador;gestor
Keywords[eu]=fitxategiak;fitxategi-kudeaketa;fitxategiak arakatzea;esploratzailea;dolphin;bilatzailea;finder;kudeatzailea
Keywords[fi]=tiedosto;tiedostot;tiedostonhallinta;tiedostoselaus;explorer;dolphin;finder;
Keywords[fr]=fichiers;gestion de fichiers;naviguer dans les fichiers;explorateur;dolphin;finder;gestionnaire
Keywords[gl]=ficheiros;xestión de ficheiros;navegación de ficheiros;xestor;explorador;navegador;dolphin;finder;xestor
Keywords[he]=קבצים;ניהול קבצים;מנהל קבצים;עיון בקבצים;דפדוף בקבצים;דפדפן;דולפין;מאתר;מחפש;מוצא;מנהל
Keywords[ia]=files;file management;file browsing;explorer;dolphin;finder;manager
Keywords[it]=file;gestione dei file;navigazione dei file;esploratore;dolphin;Explorer;Finder;gestore
Keywords[ka]=files;file management;file browsing;explorer;dolphin;finder;manager;მმართველი;მენეჯერი;ფაილები;ფაილი;დათვალიერება;ფაილებისდათვალიერება
Keywords[ko]=파일;파일 관리;파일 탐색;탐색기;관리자
Keywords[nl]=bestanden;bestandsbeheer;bladeren in bestanden;verkenner;dolphin;opzoeker;beheerder
Keywords[sa]=सञ्चिकाः;सञ्चिकाप्रबन्धनम्;सञ्चिका ब्राउजिंग्;अन्वेषकः;डॉल्फिन;अन्वेषकः;प्रबन्धकः
Keywords[sl]=datoteke;upravljanje datotek;brskanje po datotekah;raziskovalec;dolphin;iskalnik;upravljalnik
Keywords[sv]=filer;filhantering;filbläddring;utforskare;dolphin;finder;hanterare
Keywords[tr]=dosya;dosyalar;dosya yönetimi; dosyalarda dolaşmak;gezgin;explorer;dolphin;yönetici
Keywords[uk]=files;file management;file browsing;explorer;dolphin;finder;manager;файли;керування файлами;навігація;експлорер;дельфін;провідник;файндер;керування
Keywords[x-test]=xxfilesxx;xxfile managementxx;xxfile browsingxx;xxexplorerxx;xxdolphinxx;xxfinderxx;xxmanagerxx
Keywords[zh_CN]=files;file management;file browsing;explorer;dolphin;finder;manager;文件;文件管理;文件浏览;浏览器;访达;管理器
Keywords[zh_TW]=檔案管理員;檔案;檔案總管;檔案瀏覽
X-KDE-Shortcuts=Meta+E
