[Desktop Entry]
Type=Application
Name=Melon
Name[ca]=Melon
Name[ca@valencia]=Melon
Name[cs]=Melon
Name[en_GB]=Melon
Name[es]=Melon
Name[eu]=Melon
Name[gl]=Melon
Name[it]=Melon
Name[nl]=Melon
Name[sl]=Melon
Name[sv]=Melon
Name[tr]=Melon
Name[uk]=Melon
Name[x-test]=xxMelonxx
Exec=org.kde.Melon
Comment=File manager
Comment[ca]=Gestor de fitxers
Comment[ca@valencia]=Gestor de fitxers
Comment[cs]=Správce souborů
Comment[en_GB]=File manager
Comment[es]=Gestor de archivos
Comment[eu]=Fitxategi-kudeatzailea
Comment[gl]=Xestor de ficheiros.
Comment[it]=Gestore dei file
Comment[nl]=Bestandsbeheerder
Comment[sl]=Upravljalnik datotek
Comment[sv]=Filhanterare
Comment[tr]=Dosya Yöneticisi
Comment[uk]=Програма для керування файлами
Comment[x-test]=xxFile managerxx
Categories=Qt;KDE;System;FileTools;FileManager;
GenericName=File Manager
GenericName[ca]=Gestor de fitxers
GenericName[ca@valencia]=Gestor de fitxers
GenericName[cs]=Správce souborů
GenericName[en_GB]=File Manager
GenericName[es]=Gestor de archivos
GenericName[eu]=Fitxategi-kudeatzailea
GenericName[gl]=Xestor de ficheiros
GenericName[it]=Gestore dei file
GenericName[nl]=Bestandsbeheerder
GenericName[sl]=Upravljalnik datotek
GenericName[sv]=Filhanterare
GenericName[tr]=Dosya Yöneticisi
GenericName[uk]=Менеджер файлів
GenericName[x-test]=xxFile Managerxx
Icon=org.kde.Melon
Terminal=false
MimeType=inode/directory;
InitialPreference=20
Keywords=files;file management;file browsing;explorer;dolphin;finder;manager
Keywords[ca]=fitxers;gestió de fitxers;explorador de fitxers;explorador;dolphin;cercador;gestor
Keywords[ca@valencia]=fitxers;gestió de fitxers;explorador de fitxers;explorador;dolphin;buscador;gestor
Keywords[cs]=soubory;správa souborů;prohlížení souborů;explorer;dolphin;finder;správce
Keywords[en_GB]=files;file management;file browsing;explorer;dolphin;finder;manager
Keywords[es]=archivos;gestión de archivos;explorador de archivos;navegador de archivos;explorador;dolphin;buscador;gestor
Keywords[eu]=fitxategiak;fitxategi-kudeaketa;fitxategiak arakatzea;esploratzailea;dolphin;bilatzailea;finder;kudeatzailea
Keywords[fr]=fichiers;gestion de fichiers;naviguer dans les fichiers;explorateur;dolphin;finder;gestionnaire
Keywords[gl]=ficheiros;xestión de ficheiros;navegación de ficheiros;xestor;explorador;navegador;dolphin;finder;xestor
Keywords[it]=file;gestione dei file;navigazione dei file;esploratore;dolphin;Explorer;Finder;gestore
Keywords[nl]=bestanden;bestandsbeheer;bladeren in bestanden;verkenner;dolphin;opzoeker;beheerder
Keywords[sl]=datoteke;upravljanje datotek;brskanje po datotekah;raziskovalec;dolphin;iskalnik;upravljalnik
Keywords[sv]=filer;filhantering;filbläddring;utforskare;dolphin;finder;hanterare
Keywords[tr]=dosya;dosyalar;dosya yönetimi; dosyalarda dolaşmak;gezgin;explorer;dolphin;yönetici
Keywords[uk]=files;file management;file browsing;explorer;dolphin;finder;manager;файли;керування файлами;навігація;експлорер;дельфін;провідник;файндер;керування
Keywords[x-test]=xxfilesxx;xxfile managementxx;xxfile browsingxx;xxexplorerxx;xxdolphinxx;xxfinderxx;xxmanagerxx
Keywords[zh_CN]=files;file management;file browsing;explorer;dolphin;finder;manager;文件;文件管理;文件浏览;浏览器;访达;管理器
X-KDE-Shortcuts=Meta+E
